<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Combining-Data" data-toc-modified-id="Combining-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Combining Data</a></span></li><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2-(Challenge)" data-toc-modified-id="Exercise-2-(Challenge)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exercise 2 (Challenge)</a></span></li></ul></div>

# Combining Data

Practice combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, you will combine these two data sets together into one pandas data frame.

# Exercise 1

Combine the two data sets using the [pandas concat method](https://pandas.pydata.org/pandas-docs/stable/merging.html). In other words, find the union of the two data sets.

In [1]:
# TODO: import the pandas library
import pandas as pd
# TODO: read in each csv file into a separate variable
# HINT: remember from the Extract material that these csv file have some formatting issues
# HINT: The file paths are 'rural_population_percent.csv' and 'electricity_access_percent.csv'
df_rural = pd.read_csv('rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv('electricity_access_percent.csv', skiprows=4)

# TODO: remove the 'Unnamed:62' column from each data set
df_rural.drop(['Unnamed: 62'],axis=1,inplace=True)
df_electricity.drop('Unnamed: 62',inplace=True,axis=1)

# TODO: combine the two data sets together using the concat method
combine_df = pd.concat([df_rural,df_electricity])
# In other words, all of the rows of df_rural will come first
# followed by all the rows in df_electricity. This is possible to do
# because they both have the same column names.

# Exercise 2 (Challenge)

This exercise is more challenging.

The resulting data frame should look like this:

|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|
... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [2]:
melt_rural_vals = df_rural.columns[4:].tolist()
melt_rural_ids = df_rural.columns[:4].tolist()

melt_elec_vals = df_electricity.columns[4:].tolist()
melt_elec_ids = df_electricity.columns[:4].tolist()

drop_cols = ['Indicator Name', 'Indicator Code']

rural_df_melt = pd.melt(df_rural,
                        id_vars = melt_rural_ids,
                        value_vars = melt_rural_vals,
                        var_name = 'Year',
                        value_name ='Rural Value').drop(drop_cols,axis=1)

electricity_df_melt = pd.melt(df_electricity,
                        id_vars = melt_elec_ids,
                        value_vars = melt_elec_vals,
                        var_name = 'Year',
                        value_name ='Electricity Value').drop(drop_cols,axis=1)

df_combined = rural_df_melt.merge(electricity_df_melt, how='outer',\
                                 on=['Country Name', 'Country Code', 'Year']).sort_values(['Country Name','Year']).reset_index(drop=True)

In [3]:
df_combined.head()

  Country Name Country Code  Year  Rural Value  Electricity Value
0  Afghanistan          AFG  1960       91.779                NaN
1  Afghanistan          AFG  1961       91.492                NaN
2  Afghanistan          AFG  1962       91.195                NaN
3  Afghanistan          AFG  1963       90.890                NaN
4  Afghanistan          AFG  1964       90.574                NaN

In [4]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value

# TODO: drop any columns from the data frames that aren't needed

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year

# TODO: sort the results by country and then by year

df_combined = None